<div class="row" >
    <div class="col-xs-7">
        <img [src]="recipe.img" alt="{{recipe.title}}" class="img-responsive" style="max-height: 250px;">
    </div>

    <div class="col-xs-5">
        <h1>{{recipe.title}}</h1>

        <hr/>
        <button type="button" class="btn btn btn-dark" style="margin-right: 10px;" (click)="onEditRecipe()">Изменить рецепт</button>
        <button type="button" class="btn btn btn-dark" (click)="onDeleteRecipe()">Удалить рецепт</button>

        <p>
            {{recipe.description}}
        </p>
    </div>
</div>



<div class="card">
    <div class="card-header">
        Ингридиенты
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"
        *ngFor="let ing of recipe.ingredients">
        {{ ing.name }} - {{ ing.amount }}
        <button type="button" class="btn btn btn-light" (click)="onAddToShoppingList(ing)">{{ ing.editMode ? '-' : '+'}}</button>
        </li>
    </ul>
</div>